.navbar {
  background-color: #01C8E5;
  text-align: center;
}
.navbar a {
  display: inline-block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}
.page-info {
  text-align: center;
  font-weight: bold;
}

.statusSuccess {
  color: green;
}
.statusFailed {
  color: red;
}

.grid-container {
  height: 400px;
}

.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}